<h2>Kostenstelleliste</h2>
<ul>
  @for (ks of kostenstellen$ | async; track ks.id) {
    <li>
      {{ ks.kostenstelle }} {{ ks.beschreibung }}
      <button (click)="editKostenstelle(ks)">Bearbeiten</button>
      <button (click)="deleteKostenstelle(ks.id)">Löschen</button>
    </li>
  }
</ul>

<h3>{{ form.value.id === 0 ? 'Neue Kostenstelle' : 'Kostenstelle bearbeiten' }}</h3>

<form [formGroup]="form" (ngSubmit)="saveKostenstelle()">

  <label>
    Kostenstelle:
    <input formControlName="kostenstelle" />
    @if (form.controls.kostenstelle.invalid && form.controls.kostenstelle.touched) {
      <span>Eine Kostenstelle ist erforderlich.</span>
    }
  </label><br />

  <label>
    Beschreibung:
    <input formControlName="beschreibung" />
    @if (form.controls.beschreibung.invalid && form.controls.beschreibung.touched) {
      <span>Eine Beschreibung für für die Kostenstelle ist erforderlich.</span>
    }
  </label><br />

  <button type="submit" [disabled]="form.invalid">Speichern</button>
  <button type="button" (click)="form.reset()">Abbrechen</button>

</form>