<h2>Kategorieliste</h2>
<ul>
  @for (k of kategorien(); track k.id) {
    <li>
      {{ k.kategorienummer }} {{ k.kategorie }}
      <button (click)="editKategorie(k)">Bearbeiten</button>
      <button (click)="deleteKategorie(k.id)">Löschen</button>
    </li>
  }
</ul>

<h3>{{ form.value.id === 0 ? 'Neue Kategorie' : 'Kategorie bearbeiten' }}</h3>

<form [formGroup]="form" (ngSubmit)="saveKategorie()">

  <label>
    KategorieNummer:
    <input formControlName="kategorienummer" />
    @if (form.controls.kategorienummer.invalid && form.controls.kategorienummer.touched && form.controls.kategorienummer.dirty) {
      <span>Eine Kategorie Nummer ist erforderlich.</span>
    }
  </label><br />

  <label>
    Kategorie:
    <input formControlName="kategorie" />
    @if (form.controls.kategorie.invalid && form.controls.kategorie.touched) {
      <span>Die Kategorie ist erforderlich.</span>
    }
  </label><br />

  <button type="submit" [disabled]="form.invalid">Speichern</button>
  <button type="button" (click)="form.reset()">Abbrechen</button>

</form>