h2 {
  color: #2a9d8f;
}

.full-width-table {
  width: 100%;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th.mat-header-cell, td.mat-cell {
  padding: 12px 8px;
}

td.mat-cell button {
  margin-right: 4px;
}