<h2>Partnerliste</h2>
<ul>
  @for (p of partners$ | async; track p.id) {
    <li>
      {{ p.name }} ({{ p.kontonummer }}) – {{ p.eMail }}
      <button (click)="editPartner(p)">Bearbeiten</button>
      <button (click)="deletePartner(p.id)">Löschen</button>
    </li>
  }
</ul>

<h3>{{ form.value.id === 0 ? 'Neuen Partner erstellen' : 'Partner bearbeiten' }}</h3>

<form [formGroup]="form" (ngSubmit)="savePartner()">

  <label>
    Kontonummer:
    <input formControlName="kontonummer" />
    @if (form.controls.kontonummer.invalid && form.controls.kontonummer.touched) {
      <span>Die Kontonummer ist erforderlich.</span>
    }
  </label><br />

  <label>
    Name:
    <input formControlName="name" />
    @if (form.controls.name.invalid && form.controls.name.touched) {
      <span>Der Name ist erforderlich.</span>
    }
  </label><br />

  <label>
    Typ:
    <input formControlName="typ" />
    @if (form.controls.typ.invalid && form.controls.typ.touched) {
      <span>Der Typ ist erforderlich.</span>
    }
  </label><br />

  <label>
    Adresse:
    <input formControlName="adresse" />
    @if (form.controls.adresse.invalid && form.controls.adresse.touched) {
      <span>Die Adresse ist erforderlich.</span>
    }
  </label><br />

  <label>
    E-Mail:
    <input formControlName="eMail" type="email" />
    @if (form.controls.eMail.invalid && form.controls.eMail.touched) {
      <span>Bitte eine gültige E-Mail eingeben.</span>
    }
  </label><br />

  <button type="submit" [disabled]="form.invalid">Speichern</button>
  <button type="button" (click)="form.reset()">Abbrechen</button>

</form>